.container {
    padding: 16px;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .banner {
    width: 100%;
    border-radius: 8px;
  }
  
  .category-container {
    display: flex;
    overflow-x: auto;
    gap: 0px;
    padding-bottom: 8px;
    white-space: nowrap;
  }
  
  .category-button {
    font-size: 15px;
    color: brown;
    flex: 0 0 auto;
    padding: 20px 50px;
    border-radius: 5px;
    border-color: aliceblue;
    background: transparent;
    cursor: pointer;
  }
  
  .category-button.active {
    background: lightcyan;
    color: burlywood;
  }
  
  .food-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 16px;
  }
  
  .food-item {
    cursor: pointer;
  }
  
  .food-thumb {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .food-name {
    margin-top: 8px;
    font-weight: bold;
  }
  
  .food-details {
    text-align: center;
  }
  
  .back-button {
    font-size: 18px;
    font-weight: bold;
  }
  
  .food-image {
    width: 100%;
    border-radius: 8px;
    margin-top: 8px;
  }
  
  .food-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
  }
  
  .food-code {
    color: gray;
    font-size: 14px;
  }
  
  .food-description {
    margin-top: 8px;
  }
  